<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>HOJA DE VIDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #ffffff;">
<br>

  <div class="image-container">
    <img src="/assets/icon/unnamed.png"style="width: 250px; height: 250px; ">

  </div>

  <br>





  <ion-item color="primary">DATOS PERSONALES</ion-item>
  <br>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Nombre:</strong> Jose Manuel Gonzalez Ostos </p>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Fecha de nacimiento </strong>07/23/2004</p>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Número de identificación: </strong>1.056.572.162</p>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Dirección: </strong>Carrera 102# 155-30 </p>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Celular: </strong>3102830367</p>
  <br>

  <ion-item color="primary">PERFIL PERSONAL</ion-item>
  <br>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-content  style="color: rgb(9, 8, 8);">Soy una persona muy responsable con gran capacidad
          de afrontar nuevos retos y así mismo darles soluciones
          adecuadas y convenientes con una gran eficacia, Me considero
          una persona con facilidad de absorber conocimientos teóricos
          y prácticos, tengo facilidades para la comunicación y la
          atención al usuario, y para interactuar con los compañeros,
          creando un ambiente amable de trabajo.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <br>

  <ion-item color="primary">ESTUDIOS</ion-item>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/descarga.png">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Institucion Educativa Pablo VI       2010-2015</h2>
        <h2 style="color: rgb(9, 8, 8);">Institucion Educativa  Colegio Nicolás Buenaventura       2016-2021</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/descarga (1).png">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Cursos Adicionales, Electromecánica y Programación     2020-2021</h2>
        <h2 style="color: rgb(9, 8, 8);">Media Integrada </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/sena.jpg">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Complementaria virtual en administración de recursos humanos  2021-2022</h2>
        <h2 style="color: rgb(9, 8, 8);">Sena  </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/sena.jpg">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Tecnologo en Analisis y Desarrolo de Software      2022-2024</h2>
        <h2 style="color: rgb(9, 8, 8);">Sena,Fontibón Quinto Trimestre</h2>
      </ion-label>
    </ion-item>
    <br>
    <ion-item color="primary">REFERENCIAS PERSONALES</ion-item>
    <br>
    <br>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div>

            <ion-label>
              <h2 style="color: rgb(9, 8, 8);">Milena González Ostos</h2>
              <h2 style="color: rgb(9, 8, 8);">Comerciante</h2>
              <h2 style="color: rgb(9, 8, 8);">Telefono: 3228661752</h2>
            </ion-label>

          </div>
        </ion-col>
        <ion-col size="4">
          <div>

            <ion-label>
              <h2 style="color: rgb(9, 8, 8);">Maria del Pilar Barzon Ayala</h2>
              <h2 style="color: rgb(9, 8, 8);">Ingeriera de sistemas</h2>
              <h2 style="color: rgb(9, 8, 8);">Telefono: 3209583337</h2>
            </ion-label>

          </div>
        </ion-col>
        <ion-col size="4">
          <div>

            <ion-label>
              <h2 style="color: rgb(9, 8, 8);">Felipe Eliseo Murillo Suarez</h2>
              <h2 style="color: rgb(9, 8, 8);">Ingeniero Industrial</h2>
              <h2 style="color: rgb(9, 8, 8);">Telefono: 3137166152</h2>
            </ion-label>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-button (click)="registro()" slot="start">Multimedia</ion-button>










 </ion-list>


</ion-content>

















